# Environnement virtuel
venv/
env/
ENV/

# Fichiers de configuration sensibles
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db
